.map-component-container {
    height: 80vh;
    width: 100%;
  }

.map-container {
    position: relative;
    height: 50vh;
    width: 100%;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  