<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="bg-white rounded shadow p-2 flex flex-col">

        <div class="flex justify-between items-center mb-5">
            <h2 class="text-3xl font-bold">FOR</h2>
        </div>
        <p>The for block renders its content for each item in a collection.</p>
        
        <pre class="">
        <code>
            for (item of items; track item.id) {{'{'}}
                {{ 'item.name' }}
                {{'}'}}
        </code>
        </pre>
    </div>
    
    
</section>

