

<div class="row mt-3">
    <div class="col-2">
        <maps-site-menu></maps-site-menu>
    </div>
    <div class="col-10">
        <h1>Standalone Component</h1>
        <hr>

        <div class="row">
            <div class="col">
                <p>Un "standalone component" en Angular es un componente independiente que puede ser utilizado de manera autónoma sin depender de otros componentes en la misma aplicación. Para crearlo con el CLI usaremos `--standalone true`</p>
            </div>
        </div>
        <div class="row">
            <counter-alone></counter-alone>
        </div>
    </div>
</div>
