<div #map id="map"></div>

<div class="floatting-style floatting-range p-2">
    <div class="floatting-content">
        <button type="button" class="btn btn-primary" (click)="zoomOut()">-</button>
        <input 
            type="range"
            class="form-range p-2"
            min="-2"
            max="18"
            [value]="zoom"
            (change)="OnRangeChange($event)"
        >
        <button type="button" class="btn btn-primary" (click)="zoomIn()">+</button>
        <button type="button" class="btn btn-primary m-2" (click)="onAddNewMarker()">
            +Marker
        </button>
    </div>

    <span class="form-label">
        Zoom: {{zoom | number: '1.1-1'}} - ({{currentLatLng.lat | number: '1.4-4'}}, {{currentLatLng.lng | number: '1.4-4'}})   
    </span>
</div>

<div class="floatting-style floatting-markers-list p-2">
    <div class="floatting">
        <h5>Markers</h5>
        <hr>
        <ul class="list-group">
            <li *ngFor="let marker of markers; let i = index" 
                class="list-group-item"
                (dblclick)="removerMarker(i)"
                (click)="flyToMarker(i)">
                M {{ i + 1 }} [{{marker.marker.getLngLat().lat| number: '1.4-4'}}, {{marker.marker.getLngLat().lng | number: '1.4-4'}}]
            </li>
        </ul>
</div>
