#map {
    width: 100vw;
    height: 100vh;
}

.floatting-style {
    position: fixed;
    z-index: 999;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.floatting-range {
    bottom: 20px;
    left: 20px;
    width: 500px;
}

.floatting-content {
    display: flex;
    align-items: center;
}

.floatting-markers-list {
    top: 20px;
    right: 20px;
    width: 300px;
}

.list-group {
    cursor: pointer;
}

.list-group :hover {
    background-color: #f39090;
}