<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<h2>By Region</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <button 
        *ngFor="let region of regions"
        [ngClass]="{ 'btn-outline-primary': region === activeRegion }"
        class="btn  btn-block m-2 text-center"
        (click)="searchByRegion(region)"
        >
            {{ region | titlecase }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <countries-country-table [countries]="getCountries"> </countries-country-table>
    </div>
</div>