<div class="row">
    <div class="col-md-2 col-sm-6">
        <div class="card mb-2 text-center bg-dark">
            <div class="card-body text-white">
                <img src="https://media4.giphy.com/avatars/Packly/C4AvqGR2zXrN.gif" class="img-fluid">
                <p class="card-text">
                    Ojos
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="card mb-2 text-center bg-dark">
            <div class="card-body text-white">
                <img src="https://media.tenor.com/d84rut6ckyoAAAAd/aliz%C3%A9e-face-m%C3%BAsica-francesa-hermosa.gif" class="img-fluid">
                <p class="card-text">
                    La Bonita
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="card mb-2 text-center bg-dark">
            <div class="card-body text-white">
                <img src="https://i.giphy.com/YoW1jRACETz6isLOzC.webp" class="img-fluid">
                <p class="card-text">
                    Messi
                </p>
            </div>
        </div>
    </div>
</div>