<h1>Agregar Productos</h1>
<hr>

<form [formGroup]="productForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label>Nombre:</label>
        </div>
        <div class="col-auto">
            <input formControlName="name" type="text" class="form-control">
        </div>
        <div class="col-auto">
            <span customLabel
                [errors]="productForm.get('name')?.errors">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary"  (click)="changeColor()">Cambiar Color</button>
        </div>
    </div>
</form>

<pre class="mt-5">
    {{ productForm.get('name')?.errors | json }}
</pre>

<pre>
    Color: {{ color }}
    <div class="col-1" [ngStyle]="{'background-color': color}">
        
    </div>
</pre>

