<h3 class="mt-3">Selectores Anidados</h3>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <div class="mb-3">
                <label for="form-label">Region</label>
                <select formControlName="region"
                    class="form-select form-select-lg">
                    <option selected>Seleccione Uno</option>
                    <!-- Llenar desde  Rest Api-->
                </select>
            </div>
            
        </div>
    </div>
</form>