<h3 class="mt-3">Selectores Anidados</h3>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-6">
            <div class="mb-3">
                <label for="form-label">Region</label>
                <select formControlName="region"
                    class="form-control">
                    <option selected>Seleccione la Región</option>
                    <option *ngFor="let region of Regions" [value]="region">
                        {{ region }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div *ngIf="countries.length > 0"  class="row mb-3">
        <div class="col-6">
            <div class="mb-3">
                <label for="form-label">Countries</label>
                <select formControlName="country"
                    class="form-control">
                    <option selected>Seleccione el País</option>
                    <option *ngFor="let country of countries" [value]="country.cca3">
                        {{ country.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div *ngIf="borders.length > 0"  class="row mb-3">
        <div class="col-6">
            <div class="mb-3">
                <label for="form-label">Borders</label>
                <select formControlName="border"
                    class="form-control">
                    <option selected>Seleccione la Frontera </option>
                    <option *ngFor="let border of borders" [value]="border.cca3">
                        {{ border.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>

<code>
    {{ form.value | json }}
</code>