<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="bg-white rounded shadow p-2 flex flex-col">

        <div class="flex justify-between items-center mb-5">
            <h2 class="text-3xl font-bold">SWITCH</h2>
        </div>
        <p>The syntax for switch is similar to if, inspired by the JavaScript switch statement:</p>
        
        <pre class="">
        <code>
        switch (condition) {{'{'}}
          case (caseA) {{'{'}}
            Case A.
          {{'}'}}
          case (caseB) {{'{'}}
            Case B.
          {{'}'}}
          default {{'{'}}
            Default case.
            {{'}'}}
          {{'}'}}
        </code>
        </pre>
    </div>
    
    
</section>
