<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input formControlName="name"
                           type="text"
                           class="form-control"
                           placeholder="Nombre del usuario">

                    <span *ngIf="isValidField('name')" class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input formControlName="email"
                           type="email"
                           class="form-control"
                           placeholder="Email del usuario">
                    <span *ngIf="isValidField('email') "class="form-text text-danger">
                        {{ getErrorMessage('email') }}
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input formControlName="userName"
                           type="text"
                           class="form-control"
                           placeholder="Nombre código del usuario">
                    <span *ngIf="isValidField('userName')" class="form-text text-danger">
                         Nombre de usuario no permitido.
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input formControlName="password"
                           type="password"
                           class="form-control"
                           placeholder="Password de su cuenta">

                    <span *ngIf="isValidField('password') "class="form-text text-danger">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input formControlName="password_confirmation"
                           type="password"
                           class="form-control"
                           placeholder="Confirmar la contraseña">

                    <span *ngIf="isValidField('password_confirmation')" class="form-text text-danger">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{{ form.controls['email'].errors| json}}